/*
  * is for the whole webpage including everyhing.
*/
* {
  /* top right bottom left*/
  padding: 5px 0px 5px 0px;
}
/*
body is for the whole body part
*/
body {
  /*background-image: url("images/blur-clean.jpg");*/
  color: black;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: red;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
h2 {
  color: green;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

h3,
p {
  color: darkslateblue;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  text-align: justify;
}

/*
.main-text is used for a class
#main-text is used for a id
*/
.main-text {
  color: grey;
  text-align: justify;
  text-indent: 40px;
}

#author-text {
  color: mediumseagreen;
  font-size: 10px;
  float: left;
  margin-top: 70px;
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  /*
  content: "";
  clear: both;
  display: table;
  */
}

.blog-post {
  background-color: beige;
  width: 25%;
  float: left;
  height: 600px;
  position: relative;
}

.other-post {
  background-color: seashell;
  width: 75%;
  float: right;
  height: 600px;
}

.author-box {
  /*
    overflow:auto; is going to everything presented inside the box
    */
  overflow: auto;
  font-size: 10px;
  background-color: azure;
  border-top: 1px solid grey;
}
.author-box img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  float: left;
}

.clearfix::after {
  /*
    make stuff after this division sepereated visually from this and previous divisions.
    */
  content: "";
  display: table;
  clear: both;
}

.other {
  margin: 10px;
}

.date {
  position: absolute;
  top: 0;
  right: 0;
}
